{% extends "layout.html" %}

{% block body %}
    <div class="chat" id="chat"></div>

    <input type="text" class="message-nick" id="message-nick" maxlength="15" placeholder="nickname">
    <input type="text" class="message-input" id="message-input" maxlength="200" placeholder="...">

    <audio id="notification" src="{{ url_for('static', filename='notification.wav') }}" type="audio/wav"></audio>

    <script src="{{ url_for('static', filename='socketio.js') }}"></script>

    <script>
        $(document).ready(function() {
            var sock = io.connect("http://{{ anonconf['anontalk']['ip'] }}:{{ anonconf['anontalk']['port'] }}");
            var muted = false;

            sock.on("connect", function() {
                console.log("Connected to anontalk.io!");
                sock.emit("get user count");
            });

            sock.on("receive chat", function(data) {
                $("#header-users").html(data["users"] + " user(s)");

                var new_div = document.createElement("div");
                new_div.className = "message";

                data["msg"] = data["msg"].replace("<", "&lt;");
                data["msg"] = data["msg"].replace(">", "&gt;");
                data["msg"] = data["msg"].replace("</", "&lt;/");

                data["nick"] = data["nick"].replace("<", "&lt;");
                data["nick"] = data["nick"].replace(">", "&gt;");
                data["nick"] = data["nick"].replace("</", "&lt;/");

                new_div.innerHTML = "<b class=\"username\">" + data["nick"] + "</b> - " + data["msg"];

                $("#chat").append(new_div);

                $('#chat').animate({scrollTop: $('#chat').get(0).scrollHeight}, 0);

                document.title = "*new message*";

                if (!muted) {
                    $("#notification").get(0).play();
                }
            });

            sock.on("get user count", function(data) {
                $("#header-users").html(data["users"] + " user(s)");
            });

            document.title = "anontalk.io";

            var chat_message_alert = "*new message*";

            $("body").mousemove(function(event) {
                document.title = "anontalk.io";
            });

            $("#message-nick").keydown(function(e) {
                document.title = "anontalk.io";
                var nick = $("#message-nick").val();
                if (nick.length >= 15) {
                    $("#message-nick").addClass("input-alert");
                } else {
                    $("#message-nick").removeClass("input-alert")
                }
            });

            $("#message-input").keydown(function(e) {
                if (document.title != "anontalk.io") {
                    document.title = "anontalk.io";
                }

                var msg = $("#message-input").val();
                if (msg.length >= 200) {
                    $("#message-input").addClass("input-alert");
                } else {
                    $("#message-input").removeClass("input-alert")
                }

                if (e.keyCode == 13) {
                    var nick = $("#message-nick").val();

                    if (msg == "/mute") {
                        muted = true;

                        var new_div = document.createElement("div");
                        new_div.className = "message";
                        new_div.innerHTML = "Sound was muted!";

                        $("#chat").append(new_div);
                    } else if (msg == "/unmute") {
                        muted = false;

                        var new_div = document.createElement("div");
                        new_div.className = "message";
                        new_div.innerHTML = "Sound was unmuted!";

                        $("#chat").append(new_div);
                    } else {
                        if (nick.length > 0 && msg.length > 0) {
                            sock.emit("send message", {nick: nick, msg: msg});
                        } else {
                            var new_div = document.createElement("div");
                            new_div.className = "message";
                            new_div.innerHTML = "No such command!";

                            $("#chat").append(new_div);
                        }
                    }

                    $("#message-input").val("");
                }
            });


        });
    </script>
{% endblock %}
