<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>anontalk.io</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="header">
            <ul class="header-list">
                <li class="header-title"><a href="/">anontalk.io</a></li>
                <li class="header-users" id="header-users"></li>
                <li class="header-right right-2"><a href="https://github.com/jessehorne/anontalk.io">Source</a></li>
                <li class="header-right right-1">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="{{ config['anontalk']['key'] }}">
                        <input class="donate-button" type="submit" value="Donate" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    </form>
                </li>
            </ul>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
